<h3>{{ 'USER_NEW_PASSWORD_REQUESTED'|trans({}, "user") }}</h3>

<p>{{ 'USER_NEW_PASSWORD_REQUEST_RECEIVED'|trans({'%name%': user.address.firstName}, "user") }}</p>

<p>{{ 'USER_CLICK_HERE_FOR_NEW_PASSWORD'|trans({'%here%': '<a href="' ~ absolute_url(path('new_password', { 'recoverPasswordToken': user.recoverPasswordToken})) ~ '">' ~ 'COMMON_HERE'|trans({}, "common") ~ '</a>'}, "user")|raw }}</p>

<p>{{ 'COMMON_SINCERELY'|trans({}, "common") }},</p>
<p>Errit van der Heide</p>